<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia Nazareth</title>
</head>
   

<body>

    <div class="overlay"></div>

    <div class="content">
        <h1>Bienvenidos a Farmacia Nazareth</h1>
        <p>Comprometidos con tu bienestar y salud.</p>
        <p>Gestionamos lo que más importa: productos de calidad, <br> atención personalizada y un servicio confiable.</p>
    </div>

</body>
</html>
