/* Estilo para el sidebar */
#sidebar {
    background-color: #00624D; /* Pantone 17-5912 TCX */
    min-height: 100vh;
    padding-top: 1rem;
}

    #sidebar .nav-link {
        color: white;
        font-weight: 500;
        padding: 10px 15px;
        transition: background-color 0.3s;
    }

        #sidebar .nav-link.active,
        #sidebar .nav-link:hover {
            background-color: #00624D;
            color: white;
        }

/* Estilo para la barra de navegación superior */
.navbar {
    background-color: #00624D;
}

/* Estilo para el pie de página */
footer {
    background-color: #00624D;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
}
/* sidebar.css */
.hidden {
    display: none; /* Oculta el sidebar */
}

.full-width {
    margin-left: 0; /* Ajusta el margen del contenido principal cuando el sidebar está oculto */
}
